@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-size: 12pt;
} 

body {
  background: #eee;
  color: #222;
  margin: 0 auto;
  width: 768px;
}

a {
  color: #222;
  text-decoration: none;
}